{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
{{ form_rest(form) }}
<div>
    <input type="button" id="userRegisterss" value="{{ 'registration.submit'|trans }}"/>
</div>
{{ form_end(form) }}
